Options -Indexes 
<filesmatch ".(php|html|css|js)$">
SetOutputFilter DEFLATE
</filesmatch>
<ifmodule mod_expires.c>
<filesmatch ".(jpg|jpeg|png|gif|js|css|swf|ico)$">
ExpiresActive on
ExpiresDefault "access plus 1 months"
</filesmatch>
</ifmodule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(artwork)/(.*)$ $1/$2 [QSA,L]
RewriteRule ^([a-zA-z_0-9]+/artwork)/(.*)(css|js)$ bootRoot.php?sndbx_artwork=$1/$2$3 [QSA,L]
RewriteRule .* bootRoot.php [QSA,L]
</IfModule>